@home: #34C7DD;
@services: #1FDD6E;
@about:#F47842;
@portfolio:#C6395B;
@blog:#EE4737;
@contact:#3791EE;
@bg:#272727;

html {
	overflow:hidden;
}

header {
	position:fixed;
	height:60px;
	width:100%;
	color:#fff;
	background-color:#000;
	padding:0px 15px;
	-moz-transition:transform 0.25s ease-in-out;
	-webkit-transition:-webkit-transform 0.25s ease-in-out;
	&.menu {
	
	}
}

main {
	position:absolute;
	top:60px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-webkit-overflow-scrolling:touch;
	&.menu {
		
	}
}

section {
	background:#fff;
	border-top:1px solid #ccc;
	padding:35px;
	height:300px;
	&:first-child {
		border-top:none;
	}
}

footer {
	padding:35px;
	color:#fff;
	background:#ccc;
}








