@home: #34C7DD;
@services: #1FDD6E;
@about:#F47842;
@portfolio:#C6395B;
@blog:#EE4737;
@contact:#3791EE;
@bg:#272727;

@font-face{
	font-family:'Handbook';
	font-style:normal;
	font-weight:600;
	src:local('?'),
	url('../fonts/Handbookpro/PFHandbookPro-Medium.oft') format('oft'),
	url('../fonts/Handbookpro/PFHandbookPro-Medium.ttf') format('truetype'),
	url('../fonts/Handbookpro/pfhandbookpro-medium-webfont.woff') format('woff'),
	url('../fonts/Handbookpro/pfhandbookpro-medium-webfont.svg#webfontUYiaGIW4') format('svg'),
	url('../fonts/Handbookpro/pfhandbookpro-medium-webfont.eot');
}

@font-face{
	font-family:'Open Sans';
	font-style:normal;
	font-weight:600;
	src:local('Open Sans Semibold'),
	local('OpenSans-Semibold'),
	url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff')
}



html {
	overflow:hidden;
}

body {
	-webkit-tap-highlight-color:transparent;
	background:#000;
	&#home {
		a.active {
			color:@home;
		}
		main {
			background-color:@home;
			section {
				border-top-color:#EAF5F7;
			}				
		}
	}
	&#services {
		a.active {
			color:@services;
		}
		main {
			background-color:@services;	
		}		
	}
	&#about {
		a.active {
			color:@about;
		}
		main {
			background-color:@about;	
		}		
	}
	&#portfolio {
		a.active {
			color:@portfolio;
		}
		main {
			background-color:@portfolio;	
		}		
	}
	&#blog {
		a.active {
			color:@blog;
		}
		main {
			background-color:@blog;	
		}		
	}
	&#contact {
		a.active {
			color:@contact;
		}
		main {
			background-color:@contact;	
		}		
	}					
}

header {
	position:fixed;
	left:0px;
	right:0px;	
	height:60px;
	background-color:#000;
	padding:0px 15px;	
	color:#fff;
	text-align:center;
	font-family:'Handbook';
	font-size:20px;
	line-height:60px;	
	box-shadow: 0px 0px 10px 0px #000;
	-moz-transition:transform 0.25s ease-in-out;
	-webkit-transition:-webkit-transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
	&.menu {
		-moz-transform: translate3d(-200px,0px,0);
		-webkit-transform: translate3d(-200px,0px,0);
		transform: translate3d(-200px,0px,0);
		&:after {
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
			opacity:1;			
		}
		&:active:after {
			opacity:0.3;
		}
	}
	&:before {
		content: "";
		position: absolute;
		width: 30px;
		height: 30px;
		top: 15px;
		left: 15px;
		background: url('../images/logo.png') no-repeat center top;
		background-size:29px 30px;
		opacity:0.3;
		-moz-transition:all 0.75s ease-in-out;
		-webkit-transition:all 0.75s ease-in-out;	
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);		
	}
	&:after {
		content: "";
		position: absolute;
		width: 30px;
		height: 30px;
		top: 15px;
		right: 15px;
		background:#fff url("../images/menu.png") 0 0 repeat;
		background-size:30px 30px;
		opacity:0.3;
		-moz-transition:all 0.25s ease-in-out;
		-webkit-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;		
	}
	&:active:after {
		opacity:1;
		background-color:#fff;	
	}
	&.load:before {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity:1;
	}	
}

nav {
	width:200px;
	position:fixed;
	top:0px;
	bottom:0px;
	display:block;
	z-index:0;
	padding:0px;
	color:#939393;
	right:0px;
	z-index:-1;
	opacity:0;
	-moz-transition:all 0.115s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	background:@bg;	
	a {
		-webkit-text-stroke: 0.35px;
		display:block;
		font-size:11px;
		text-transform:uppercase;
		text-align:left;
		line-height:48px;
		border-bottom:1px solid #222;
		border-top:1px solid #2a2a2a;
		color:#939393;
		font-family:'Open Sans', sans-serif;	
		letter-spacing:3px;
		padding:0px 25px;
		text-indent:25px;
		&:first-child {
			font-size:0px;
			line-height:55px;
			height:59px;
			border-top:none;
			padding:0px;
			&:before {
				content:"\00d7";
				color:#999;
				font-size:40px;
				line-height:59px;
				height:59px;
				display:block;
				text-indent:20px;	
			}
			&:active:before {
				color:#fff;
			}
		}
		&:last-child {
			display:none;
		}
		&:hover {
			color:#fff;
		}
		&:active {
			color:#fff;
		}
		&.menu {
			color:#fff;

		}	
	}
	&.menu {
		opacity:1;
		a {
			text-indent:0px;
			-moz-transition:color 0.15s ease-in-out;
			-webkit-transition:color 0.15s ease-in-out;	
			transition:color 0.15s ease-in-out;				
		}
	}
}

main {
	position:fixed;
	top:60px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
	text-align:center;
	box-shadow: 0px 0px 10px 0px #000;
	opacity:0;
	-moz-transition:-moz-transform 0.25s ease-in-out, opacity 0.5s ease-in-out,  background-color 15s ease-in-out;
	-webkit-transition:-webkit-transform 0.25s ease-in-out, opacity 0.5s ease-in-out,  background-color 15s ease-in-out;
	transition: transform 0.25s ease-in-out, opacity 0.5s ease-in-out,  background-color 15s ease-in-out;
	-webkit-overflow-scrolling:touch;				
	&.menu {
		-moz-transform: translate3d(-200px,0px,0);
		-webkit-transform: translate3d(-200px,0px,0);	
		transform:	translate3d(-200px,0px,0);
	}
	section {
		border-top:1px solid #ccc;
		padding:15px;
		height:300px;					
		&:first-child {
			border-top:none;
		}
	}
	&.load {
		opacity:1;	
	}
	footer {
		padding:15px 0px;
		font-size:0px;		
		img {
			background:#fff;
			margin:0px 7px;
			border-radius:5px;
			width:8%;
			min-width:38px;
			max-width:100px;
		}		
	}	
}

/* MEDIA QUERIES */

/* all desktops and laptops */
@media only screen 
and (min-width : 1024px) {
	body {
		background:@bg;
	}
	header {
		display:none;
	}
	main {
		top:0px;
		left:200px;
		&.menu {
			-moz-transform: translate3d(0px,0px,0);
			-webkit-transform: translate3d(0px,0px,0);
			transform: translate3d(0px,0px,0);
		}		
	}
	nav {
		right:auto;
		left:0px;
		opacity:1;
		text-align:center;
		background:none;
		a {
			border:none;
			text-align:center;
			margin-bottom:0px;
			color:#939393;
			line-height:11px;
			padding:0px;
			text-indent:0px;
			font-size:11px;
			margin-bottom:18px;
			&:first-child {
				color:#fff;
				font-family:'Handbook';
				font-size:28px;
				text-transform:lowercase;
				margin:35px 0px;
				letter-spacing:0px;
				background: url('../images/logo.png') no-repeat center top;
				background-size:50px 52px;
				padding-top:52px;
				height:auto;
				&:before {
					display:none;
				}
			}
			&:last-child {
				margin-top:35px;
				padding:8px;
				background:#fff;
				display:inline-block;
				border-radius:38px;
				&:active {
					margin-top:30px;
					padding:15px;
				}
				&:hover {
					background:#939393;
				}				
			}				
		}
	}
}


/* custom page styles */

/* HOME */

.home_top {
	background:url(../images/svg/home_top.svg) no-repeat;
	background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	height:100%;
}

.home_services {
	background:url(../images/svg/home_services.svg) no-repeat;
	background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	height:100%;
}

.home_about {
	background:url(../images/svg/home_about.svg) no-repeat;
	background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	height:100%;
}

.home_blog {
	background:url(../images/svg/home_blog.svg) no-repeat;
	background-size:100% 100%;
	-o-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	height:100%;
}









